<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EShopWebApp</title>
    <link rel="icon" type="image/x-icon" href="/online-shopping.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/googleButton.css" rel="stylesheet" type="text/css" />
    <link href="~/css/details.css" rel="stylesheet" type="text/css" />
    <link href="~/css/cart.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/EShopWebApp.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/d81e025cab.js" crossorigin="anonymous"></script>
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
   
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow pb-3">
            <div class="container-fluid">
                @if (User.IsInRole("Admin"))
                {
                    <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index"><img style="height:50px; width:50px;" src="/ShopIcon.svg" alt="My Happy SVG" /> EShopWebApp</a>
                }

                <a class="navbar-brand"  asp-controller="Home" asp-action="Index"><img style="height:50px; width:50px;" src="/ShopIcon.svg" alt="My Happy SVG" /> EShopWebApp</a>
                

                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item hover-zoom">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item hover-zoom">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="All">Shop</a>
                        </li>
                        <li class="nav-item hover-zoom">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Order</a>
                        </li>
                        
                        
                        
                    </ul>
                    <partial name="_LoginPartial"/>
                   
                   

                </div>

                <button type="button" class="btn ml-5 cart" data-toggle="modal" data-target="#cart"><img src="/cart-icon.png" alt="My Happy SVG" />  <span class="total-count"></span></button>
                  
            </div>
        </nav>
    </header>

    <main role="main" class="navbar-nav-scroll">

        <div class="container container-fluid">
            @RenderBody()
            <partial name="_CartPartial" />
       </div>
     </main>
   

    <footer class="text-center text-white fixed-bottom" style="background-color: #BDBDBD ">
        <div class="container">
            @if (DateTime.Now.Year > 2024)
            {
               <text>&copy; 2024 - @DateTime.Now.Year - EShopWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></text>
            }
            else
            {
                <text>&copy; @DateTime.Now.Year - EShopWebApp  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></text>
                
            }
            
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/cart.js?version=1.8"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
