@using Microsoft.AspNetCore.Identity
@using EShopWebApp.Infrastructure.Data.Models
@using Microsoft.CodeAnalysis.Scripting
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@* <style>
    /* Hide the form element */
    .form-inline.clear-cart {
        display: ;
    }

    /* Style the button to look like an anchor */
    .logout-flag {
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        text-decoration: none;
        color: white; /* You can change the color to match your design */
    }
</style> *@

    @if (SignInManager.IsSignedIn(User))
    {
        
        
            <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        
        
            <form class="form-inline clear-cart" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="hover-zoom logout-flag border-0 bg-transparent text-white font-weight-bolder">Logout</button>
            </form>
                
    
    }
    else
    {



           <a class="nav-link hover-zoom" asp-area="Identity" asp-page="/Account/Register">Register</a>


           <a class="nav-link hover-zoom" asp-area="Identity" asp-page="/Account/Login">Login</a>
        
    }
    


@section Scripts {
    <script type="text/javascript" src="~/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the userId from wherever it's available in your application
            var userId = '...'; // Replace '...' with the actual userId

            // Invoke the function to fetch cart info from the database
            invokeFetchCartInfoFromDB(userId);
    </script>
    
}
