@model ICollection<CategoryViewModel>
@{
    ViewData["Title"] = "All";
}
<h2 class="text-center">@ViewBag.Title</h2>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>

                <a class="btn btn-primary alert-danger" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit</a> 
                <a class="btn btn-warning" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">Delete</a>


            </td>
        </tr>
    }
    </tbody>
</table>