@model BrandViewModel


@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center">@ViewBag.Title</h2>

<h4>Brand</h4>
<hr />


<div class="row">
    <form method="post" enctype="multipart/form-data" asp-controller="Brand" asp-action="Edit">
        <div class="form-group">
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Write your product here...">
                <span asp-validation-for="Name" class="small text-danger"></span>
                

            </div>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Edit" />

    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
