@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<partial name="_BreadcrumbPartial" view-data="ViewData" />
<div class="p-5" >
<h5 class="text-center">@ViewData["Title"]</h5>
<h6 class="text-center">Enter your email.</h6>
<hr />
<div class="row p-5 text-center">
    <div class="col-4"></div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <button type="submit" class="border-0 bg-transparent "><a class="boxed-btn black">Reset Password</a></button>
        </form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
