@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>@ViewData["Title"]</h1>
                    <p>Please check your email to reset your password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
